:root,
.theme-default {
    --main-bg-color: #fff;
    --main-text-color: #000;
    --border-color: #999;
    --grid-border-color: #000;
    --full-cell-bg-color: #000;
    --empty-cell-bg-color: #888;
    --th-bg-color: #eee;
    --th-solved-bg-color: #eee;
    --th-solved-text-color: #888;
    --error-color: #f00;

}

.theme-high-contrast {
    --main-bg-color: #fff;
    --main-text-color: #000;
    --border-color: #ff00bd;
    --grid-border-color: #000;
    --full-cell-bg-color: #0057e9;
    --empty-cell-bg-color: #f2ca19;
    --th-bg-color: #87e911;
    --th-solved-bg-color: #f2ca19;
    --th-solved-text-color: #0057e9;
    --error-color: #f00;
}

.theme-high-contrast-inverse {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --border-color: #ff00bd;
    --grid-border-color: #f2ca19;
    --full-cell-bg-color: #87e911;
    --empty-cell-bg-color: #888;
    --th-bg-color: #0057e9;
    --th-solved-bg-color: #87e911;
    --th-solved-text-color: #0057e9;
    --error-color: #000;
}

.theme-warlock {
    --main-bg-color: #312c3a;
    --main-text-color: #cccccd;
    --border-color: #433b4d;
    --grid-border-color: #774c7e;
    --full-cell-bg-color: #ec84ed;
    --empty-cell-bg-color: #473b58;
    --th-bg-color: #774c7e;
    --th-solved-bg-color: #6e4652;
    --th-solved-text-color: #ed7e85;
    --error-color: #49e1dc;
}

body * {
    box-sizing: border-box;
}

body {
    color: var(--main-text-color);
    background: var(--main-bg-color);
}

section {
    margin-bottom: 1rem;
}

dialog::backdrop {
    background-color: #00000099;
}


dialog {
    border-radius: 1rem;
    width: 80%;
    padding: 2rem;
    border: thick double var(--border-color);
    background: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
}

dialog form {
    display: block;
    margin: auto;
    width: fit-content;
    text-align: left;
}

dialog form .buttons {
    text-align: center;
    padding-top: 2rem;
}

button {
    margin: auto;
    border: thin solid var(--border-color);
    background: var(--th-bg-color);
    color: var(--th-text-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

label {
    display: block;
    width: fit-content;
    margin-bottom: 1rem;
}

.board {
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.board .cell {
    border: thin solid var(--border-color);
    border-radius: 2px;
}

.board .cell.checked.Y {
    background: var(--full-cell-bg-color);
}

.board .cell.checked.N {
    background: var(--empty-cell-bg-color);
}

.board .cell.err:after {
    display: block;
    content: '×';
    color: var(--error-color);
    text-align: center;
}

.board th {
    background: var(--th-bg-color);
    min-height: 10px;
    min-width: 10px;
}

.board tr:first-child td {
    background: none;
}

.board tr:not(:first-child) th {
    border-bottom: thin dashed var(--border-color);
}

.board tr:not(:first-child) th span {
    margin: 0.25em;
}


.board tr:first-child th {
    border-left: thin dashed var(--border-color);
}

.board tr:first-child th span {
    display: block;
}


.board.two-grid .cell:nth-child(2n+1):not(:last-child) {
    border-right: 2px solid var(--grid-border-color);
}

.board.two-grid tr:nth-child(2n+1):not(:last-child) .cell {
    border-bottom: 2px solid var(--grid-border-color);
}

.board.three-grid .cell:nth-child(3n+1):not(:last-child) {
    border-right: 2px solid var(--grid-border-color);
}

.board.three-grid tr:nth-child(3n+1):not(:last-child) .cell {
    border-bottom: 2px solid var(--grid-border-color);
}

.board.five-grid .cell:nth-child(5n+1):not(:last-child) {
    border-right: 2px solid var(--grid-border-color);
}

.board.five-grid tr:nth-child(5n+1):not(:last-child) .cell {
    border-bottom: 2px solid var(--grid-border-color);
}
